.button{
    height: 50px;
}

.button:hover{
    transform: scale(1.03);
}


@media screen and (max-width: 468px){
    .button{
        height: 54px;
        position: relative;
        top: -13.5px;
    }
}